:root {
  --text-primary: #403f3d;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;

  --background-page: #e1d4c9;
  --background-container: #665f55;
  --background-overlay: rgba(64, 63, 61, 0.8);

  --border-primary: #c1b6ad;
  --border-inverse: #665f55;

  --background-modal: #e1d4c9;
  --background-modal-control: #665f55;

  --font-family: 'Inter', sans-serif;
}

[data-theme='dark'] {
  --text-primary: #e1d4c9;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;

  --background-page: #292826;
  --background-container: #403f3d;
  --background-overlay: rgba(41, 40, 38, 0.8);

  --border-primary: #665f55;
  --border-inverse: #c1b6ad;

  --background-modal: var(--background-container);
  --background-modal-control: var(--background-page);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

*,
::after,
::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  min-width: 320px;
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-primary);
  background-color: var(--background-page);
}

.scroll-block {
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: var(--text-primary);
  transition: color 0.3s ease-in-out;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
  position: relative;
}

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 40px;
}

.navigation__link {
  font-weight: 600;
}

.theme-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  width: 88px;
  height: 44px;
  border: 1px solid var(--border-primary);
  border-radius: 100px;
}

.theme-switch__item {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  transition: background-color 0.3s ease-in;
}

.theme-switch__item_sun {
  background-color: var(--text-accent);
}

.theme-switch__item_moon {
  background-color: transparent;
}

.theme-switch__icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.theme-switch__item_sun .theme-switch__icon {
  width: 22px;
  height: 22px;
  background-color: var(--text-inverse);
  mask: url('./assets/icons/sun.svg') center / contain no-repeat;
}

.theme-switch__item_moon .theme-switch__icon {
  width: 18px;
  height: 18px;
  background-color: var(--text-primary);
  mask: url('./assets/icons/moon.svg') center / contain no-repeat;
}

.theme-switch:hover .theme-switch__item_moon {
  background-color: var(--border-inverse);
}

.theme-switch:hover .theme-switch__item_moon .theme-switch__icon {
  background-color: var(--text-inverse);
}

.header__actions {
  display: flex;
  align-items: center;
  margin-left: 46px;
}

.menu {
  position: relative;
  margin-right: 31px;
  margin-left: 22px;
  border: 2px solid transparent;
}

.menu:after {
  position: absolute;
  content: url(./assets/icons/coffee-cup.png);
  top: -4px;
  right: -30px;
  width: 20px;
  height: 20px;
}

.menu:hover::before {
  content: '';
  position: absolute;
  top: 22px;
  left: 0;
  right: -30px;
  border-bottom: 2px solid var(--text-primary);
  cursor: pointer;
}
