:root {
  --text-primary: #403f3d;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;

  --background-page: #e1d4c9;
  --background-container: #665f55;
  --background-overlay: rgba(64, 63, 61, 0.8);

  --border-primary: #c1b6ad;
  --border-inverse: #665f55;

  --background-modal: #e1d4c9;
  --background-modal-control: #665f55;

  --font-family: 'Inter', sans-serif;
}

[data-theme='dark'] {
  --text-primary: #e1d4c9;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;

  --background-page: #292826;
  --background-container: #403f3d;
  --background-overlay: rgba(41, 40, 38, 0.8);

  --border-primary: #665f55;
  --border-inverse: #c1b6ad;

  --background-modal: var(--background-container);
  --background-modal-control: var(--background-page);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

*,
::after,
::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  min-width: 320px;
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-primary);
  background-color: var(--background-page);
}

.scroll-block {
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: var(--text-primary);
  transition: color 0.3s ease-in-out;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

.button-primary {
  border-radius: 100px;
  padding: 20px 78px;
  width: 200px;
  height: 64px;
}

h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 1.05;
}

h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.25;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
  position: relative;
}

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 40px;
}

.navigation__link {
  position: relative;
  font-weight: 600;
}

.navigation__link:hover::before {
  content: '';
  position: absolute;
  top: 22px;
  left: 0;
  right: -30px;
  width: 100%;
  border-bottom: 2px solid var(--text-primary);
  cursor: pointer;
}

.theme-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  width: 88px;
  height: 44px;
  border: 1px solid var(--border-primary);
  border-radius: 100px;
}

.theme-switch__item {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  transition: background-color 0.3s ease-in;
}

.theme-switch__item_sun {
  background-color: var(--text-accent);
}

.theme-switch__item_moon {
  background-color: transparent;
}

.theme-switch__icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.theme-switch__item_sun .theme-switch__icon {
  width: 22px;
  height: 22px;
  background-color: var(--text-inverse);
  mask: url('./assets/icons/sun.svg') center / contain no-repeat;
}

.theme-switch__item_moon .theme-switch__icon {
  width: 18px;
  height: 18px;
  background-color: var(--text-primary);
  mask: url('./assets/icons/moon.svg') center / contain no-repeat;
}

.theme-switch:hover .theme-switch__item_moon {
  background-color: var(--border-inverse);
}

.theme-switch:hover .theme-switch__item_moon .theme-switch__icon {
  background-color: var(--text-inverse);
}

.header__actions {
  display: flex;
  align-items: center;
  margin-left: 46px;
}

.menu {
  position: relative;
  margin-right: 31px;
  margin-left: 22px;
  border: 2px solid transparent;
}

.menu::after {
  content: '';
  position: absolute;
  top: -4px;
  right: -30px;
  width: 20px;
  height: 20px;

  background: url('./assets/icons/coffee-cup.png') center / contain no-repeat;

  opacity: 0;
  transform: translateX(-5px);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.menu:hover::after {
  opacity: 1;
  transform: translateX(0);
}

.menu:hover::before {
  content: '';
  position: absolute;
  top: 22px;
  left: 0;
  right: -30px;
  border-bottom: 2px solid var(--text-primary);
  cursor: pointer;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
  height: 644px;
  overflow: hidden;
  border-radius: 40px;
}

.hero__video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 530px;
  margin-left: 100px;
}

.hero__title {
  color: var(--text-inverse);
}

.hero__accent {
  color: var(--text-accent);
  font-style: italic;
}

.hero__text {
  color: var(--text-inverse);
}

.hero__button {
  position: relative;
  background: var(--text-inverse);
}

.hero__button::after {
  content: '';
  position: absolute;
  top: 21px;
  right: 53px;
  width: 20px;
  height: 20px;

  background: url('./assets/icons/coffee-cup.png') center / contain no-repeat;

  opacity: 0;
  transform: translateX(-5px);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.hero__button:hover::after {
  opacity: 1;
  transform: translateX(0);
}

.favorite-coffee {
  margin-top: 100px;
}

.favorite-coffee__title {
  text-align: center;
}

.favorite-coffee__accent {
  font-style: italic;
  color: var(--text-accent);
}

.slider {
  margin-top: 40px;
}

.slider__images-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.slider__images {
  width: 480px;
  height: 480px;
}

.slider__slide {
  width: 480px;
  height: 480px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slider__slide_1 {
  background: url('./assets/slider/coffee-slider-1.png') center / contain
    no-repeat;
}

.slider__arrow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid var(--background-container);
  border-radius: 100px;
  transition: background-color 0.3s ease-in;
}

.slider__arrow:hover {
  background-color: var(--background-container);
}

.slider__arrow:hover .slider__arrow-icon {
  background-color: var(--text-inverse);
}

.slider__arrow-icon {
  display: block;
  width: 14px;
  height: 14px;
  background-color: var(--border-inverse);
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
}

.slider__arrow-icon_left {
  mask-image: url('./assets/icons/arrow-left.svg');
}

.slider__arrow-icon_right {
  mask-image: url('./assets/icons/arrow-right.svg');
}

.slider__info {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}

.slider__info_active {
  display: flex;
}

.slider__price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
}

.slider__pagination {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 40px;
}

.slider__control {
  width: 40px;
  height: 4px;
  mask-image: url('./assets/icons/control.svg');
  background-color: var(--border-primary);
}

.slider__control_active {
  background-color: var(--background-container);
}
