:root {
  --text-primary: #403f3d;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;

  --background-page: #e1d4c9;
  --background-container: #665f55;
  --background-overlay: rgba(64, 63, 61, 0.8);

  --border-primary: #c1b6ad;
  --border-inverse: #665f55;

  --background-modal: #e1d4c9;
  --background-modal-control: #665f55;

  --font-family: 'Inter', sans-serif;
}

[data-theme='dark'] {
  --text-primary: #e1d4c9;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;

  --background-page: #292826;
  --background-container: #403f3d;
  --background-overlay: rgba(41, 40, 38, 0.8);

  --border-primary: #665f55;
  --border-inverse: #c1b6ad;

  --background-modal: var(--background-container);
  --background-modal-control: var(--background-page);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

*,
::after,
::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  min-width: 320px;
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-primary);
  background-color: var(--background-page);
}

.scroll-block {
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: var(--dark);
  transition: color 0.3s ease-in-out;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
  position: relative;
}
